<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Go to survey {% endblock %}</title>
</head>
<body>
    {% block content %}
    <h1>Please click the link below to go to our survey</h1> 
    <ul>
        <li>
        <a href="/satisfaction_survey/question/0">{{surveys.satisfaction_survey.title}}</a>
        </li>
        <li>
            <a href="/personality_quiz/question/0">{{surveys.personality_quiz.title}}</a>
        </li>
 
    </ul>
    {% endblock %}
    
    
</body>
</html>